<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
	<title>{% block title %}试卷首页{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    {% block custom_css %}{% endblock %}

    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>

</head>
<body>


 <header>
        <div class="header">
            <div class="top">
                <div class="c-box fff-box">
                <div class="header-box">
                    <p class="fl tips">☺ 跬步在线学习平台</p>
                    {% if request.user.is_authenticated %}
                        <div class="personal">
                            <dl class="mes fr">
                                <a href="{% url 'users:user_info' %}"><img class="photo" width="30" height="30"  src="{{ MEDIA_URL }}{{ request.user.image }}"
                                /></a>
                                <dd>{{ request.user.username }}</dd>
                            </dl>

                        </div>
                    {% else %}
                        <a class="fr register-btn" href="{% url 'register' %}">注册</a>
                        <a class="fr login-btn" href="{% url 'login' %}">登录</a>
                    {% endif %}
                </div>
            </div>

            </div>

        </div>
    </header>
<div class="topic-bg">
    <div class="topic-a">
{#        {% for topics in all_topics.object_list %}#}
        {% for topics in all_topics %}
            <p class="topic-t">{{ topics.num }}、☺ {{ topics.name }}</p>
            <div class="answer-list">
                {% for answer in all_answer %}
                    {% if topics.id == answer.topics_id %}
                        <p><input name="{{ answer.topics_id }}" type="radio" value="{{ answer.value }}" />
                        {{ answer.content }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
 <button onclick="save()" class="btn-topic">交 卷</button>
</div>


{#<div class="pageturn">#}
{#    <ul class="pagelist">#}
{##}
{#        {%  if all_topics.has_previous %}#}
{#            <li class="long"><a href="?{{ all_topics.previous_page_number.querystring }}">上一题</a></li>#}
{#        {% endif %}#}
{#        {% for page in all_topics.pages %}#}
{#            {% if page %}#}
{#                {% ifequal page all_topics.number %}#}
{#                    <li class="active">{{ page }}</li>#}
{#                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>#}
{#                {% else %}#}
{#                    <li>{{ page }}</li>#}
{#                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>#}
{#                {% endifequal %}#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        {%  if all_topics.has_next %}#}
{#            <li class="long"><a href="?{{ all_topics.next_page_number.querystring }}">下一题</a></li>#}
{#        {% endif %}#}
{#    </ul>#}
{#</div>#}

<footer>
    <div class="footer-a">
        <p>@跬步在线做题平台-保留所有权利</p>
		<div class="footer-b">
            <p><span style="margin-right: 200px">☺ 服务热线：123456</span>copyright © 2018 ICP备案证书号：津ICP备xxxxx号-1 ☺</p>

		</div>
    </div>

	</footer>

<script>
     function save() {
     var i;
     var values = '';
     var checked = $("input:radio:checked");
     if(checked.length<15){
         alert("您还有未做题目，请检查！");
     }
     else
     {
         for (i = 0; i < checked.length; i++) {
             if (i < checked.length - 1)
                 values += checked[i].value + '&nbsp;&nbsp;&nbsp;';
             else
                 values += checked[i].value;
         }
         var answer = window.location.href;
         var n = answer.split('/');
         alert("提交成功！");
         window.location.href = "/paper/result?"+n[5]+"?"+values;
     }
 }
</script>
{#<script src="{% static '/js/user-answer.js' %}" type="text/javascript"></script>#}

</body>
</html>