<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
	<title>{% block title %}类型首页{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/plugins/queryCity/css/cityLayout.css' %}">
    {% block custom_css %}{% endblock %}

    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>

</head>
<body>

    <header>
        <div class="header">
            <div class="top">
                <div class="c-box fff-box">
                <div class="header-box">
                    <p class="fl tips">☺ 跬步在线学习平台</p>
                    {% if request.user.is_authenticated %}
                        <div class="personal">
                            <dl class="mes fr">
                                <a href="{% url 'users:user_info' %}"><img class="photo" width="30" height="30"  src="{{ MEDIA_URL }}{{ request.user.image }}"
                                /></a>
                                <dd>{{ request.user.username }}</dd>
                            </dl>

                        </div>
                    {% else %}
                        <a class="fr register-btn" href="{% url 'register' %}">注册</a>
                        <a class="fr login-btn" href="{% url 'login' %}">登录</a>
                    {% endif %}
                </div>
            </div>

            </div>

        </div>
    </header>
    <div class="t-names">
        <p class="t-name">{{ types.name }}</p>
    </div>
    <div class="l-r">
        <div class="left">
        {% for type in all_types %}
            {% if type.parents_id == types.id %}
                <ul class="t-detail"><a href="{% url 'paper:type_paper' type.parents_id %}" class="de-url">{{ type.name }}</a></ul>
            {% endif %}
        {% endfor %}
         </div>

      <div class="right">
    {% for paper in all_papers %}
        <p>{{ paper.name }}</p>
{#            {% if paper.types_id == types.id %}#}
{#                <ul class="t-detail"><a href="" class="de-url">{{ paper.name }}</a></ul>#}
{#            {% endif %}#}
        {% endfor %}
    </div>

    </div>
<footer>
    <div class="footer-a">
        <p>@跬步在线做题平台-保留所有权利</p>
		<div class="footer-b">
{#            <p></p>#}
            <p><span style="margin-right: 200px">☺ 服务热线：123456</span>copyright © 2018 ICP备案证书号：津ICP备xxxxx号-1 ☺</p>

		</div>
    </div>
	</footer>

</body>
</html>

{#<script type="text/javascript">#}
{#    $(document).ready(function () {#}
{#        $("#jsClick").click(function () {#}
{#            var type_id=$('type.id').val();#}
{#            $.post("/paper/home/type_id",{'id':type_id},#}
{#            function (data,status) {#}
{#                $("#click_res").html(data);#}
{#            });#}
{#        });#}
{#    });#}
{#</script>#}